# 리스트(List)
### - 리스트 저장 형태

In [2]:
a = ['홍길동','강감찬','이순신']
print(a)
print(type(a))

['홍길동', '강감찬', '이순신']
<class 'list'>

In [5]:
# 데이터 접근
print(a[0])
print(a[1])
print(a[2])

홍길동
강감찬
이순신

In [13]:
#슬라이싱 기능
x = [1,2,3,4,5,6,7,8,9,10]
print(x[0:5])  
print(x[:5])
print(x[5:])
print(x[3:6])
#print(x[3:6,7]) #TypeError R에서는 가능하지만 Python에서는 불가능

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[4, 5, 6]

In [17]:
# '+' 연산자를 통한 리스트간의 결합 기능
x = [1,2,3,4,5]  
y = [6,7,8,9,10]
print(y + x)

[6, 7, 8, 9, 10, 1, 2, 3, 4, 5]

In [25]:
# 특정 위치에 있는 데이터를 변경.
x = [1,2,3,4,5]  
x[2] = 30
print(x)
print(len(x))

[1, 2, 30, 4, 5]
5

In [26]:
# 리스트에서 항목 삭제
del x[2]
print(x)

[1, 2, 4, 5]

In [28]:
print(x[2])

4

In [33]:
x= [1,3,5]

x.append(7)
print(x)

[1, 3, 5, 7]

In [34]:
y = [9, 11, 13]

x.extend(y)
print(x)

[1, 3, 5, 7, 9, 11, 13]

In [35]:
x.insert(1, 2) # (인덱스, 추가 값)
print(x)

[1, 2, 3, 5, 7, 9, 11, 13]

In [37]:
x.remove(11) # 리스트 값 삭제 (삭제 값 지정)
print(x)

[1, 2, 3, 5, 7, 9, 13]

In [39]:
x.remove(11) #ValueError

ValueError: list.remove(x): x not in list

In [40]:
x.pop(1) # 리스트 값 삭제 (인덱스 지정)
print(x)

[1, 3, 5, 7, 9, 13]

In [41]:
x = ['abc', 'def', 'ghi'] # 특정 위치의 익덱스 값 반환
print(x.index('ghi'))

2

In [42]:
print(x.index('xyz'))

ValueError: 'xyz' is not in list

In [45]:
x = [1, 100, 2, 200, 3, 300, 4, 100]
print(x.count(100))
print(x.count('100'))

2
0

In [46]:
x = [7, 5, 9, 4, 2] #sort 메서드를 거치면 list 값의 인덱스도 변환된다.
x.sort()
print(x)

[2, 4, 5, 7, 9]

In [52]:
x.sort(reverse=True)
print(x)

[9, 7, 5, 4, 2]

In [51]:
x = [7, 5, 9, 4, 2] 
x.reverse()
print(x)

[2, 4, 9, 5, 7]

# 튜플(Tuple)

In [56]:
x = (1, 2, 3)
print(x)
type(x)

(1, 2, 3)

tuple

In [57]:
x = 1, 2, 3 ,4
print(x)
type(x)

(1, 2, 3, 4)

tuple

In [58]:
# 주의 
x = (1)
print(x)
type(x)

1

int

In [59]:
x = 1
print(x)
type(x)

1

int

In [60]:
x = (1,)
print(x)
type(x)

(1,)

tuple

In [61]:
x = 1,
print(x)
type(x)

(1,)

tuple

In [66]:
# 슬라이싱 가능
x = (1, 2, 3, 4, 5, 6)
print(x[2:5])
print(x[:2])
print(x[4:])
print(x[4])

(3, 4, 5)
(1, 2)
(5, 6)
5

In [67]:
# '+' 연산자를 통한 튜플간의 결합 기능

m = (1, 2, 3)
n = (4, 5 ,6)

n + m

(4, 5, 6, 1, 2, 3)

In [69]:
print(m[1])
m[1] = 20

2

TypeError: 'tuple' object does not support item assignment

In [70]:
m = (1, 2, 3)
m.append(4) # error - 메서드 지원 X.

AttributeError: 'tuple' object has no attribute 'append'

### - 튜플 제공 메서드

In [72]:
x = ('abc', 'def', 'ghi')
print(x.index('ghi'))

2

In [73]:
x = (1, 100, 2, 200, 3, 300)
print(x.count(100))

1

In [78]:
# 튜플 패킹(tuple packing) : 여러가지 데이터를 튜플로 묶는 것.
x = 1, 2, 3
print(x)

(1, 2, 3)

In [79]:
# 튜플 언패킹(tuple Unpacking) : 각 요소를 여러 개의 변수에 할당하는 것.
data = 'seoul', 37.541, 126.986 # 지역 / 경도 / 위도

city, latitude, longitude = data

print(city)
print(latitude)
print(longitude)

seoul
37.541
126.986

# 딕셔너리(Dictionary)

In [81]:
dic = {'애플':'www.apple.com', '네이버':'www.naver.com', '파이썬':'www.python.org'}

print(dic)
print(type(dic))

{'애플': 'www.apple.com', '네이버': 'www.naver.com', '파이썬': 'www.python.org'}
<class 'dict'>

In [83]:
# 데이터 접근 방법
print(dic['네이버'])
print(dic['애플':'파이썬'])

www.naver.com

TypeError: unhashable type: 'slice'

In [87]:
# 데이터 삽입
dic2 = {}  #변수 선언과 동시에 초기화 방법
print(type(dic2))

dic2['애플'] = 'www.apple.com'
dic2['네이버'] = 'www.naver.com'

print(dic2)

<class 'dict'>
{'애플': 'www.apple.com', '네이버': 'www.naver.com'}

### - 딕셔너리 제공 메서드

In [88]:
print(dic.keys())

dict_keys(['애플', '네이버', '파이썬'])

In [89]:
print(dic.values())

dict_values(['www.apple.com', 'www.naver.com', 'www.python.org'])

In [91]:
print(dic.items())

dict_items([('애플', 'www.apple.com'), ('네이버', 'www.naver.com'), ('파이썬', 'www.python.org')])

In [94]:
print('애플' in dic.keys())
print('다음' in dic.keys())

True
False

In [95]:
print('www.naver.com' in dic.values())

True

In [96]:
# 데이터 제거
print(dic.pop('애플'))
print(dic)

www.apple.com
{'네이버': 'www.naver.com', '파이썬': 'www.python.org'}

In [99]:
dic.clear()  # 한번에 데이터를 전부 삭제
print(dic)

{}